﻿@model DynUI.Formlets.Formlet<DynUI.Formlets.Unit>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formlets</title>
</head>
<body>
    <div>
        @DynUI.Samples.Web.Models.FormletHelper.ToHtmlString(Model.RenderHTML())
    </div>
</body>
</html>
